.container, .pages, .name, .videocontainer{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.video{
    display: flex;
    width: 100%;
    align-items: center;
}

.infobox{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.videocontainer{
    gap: 24px;
}

iframe{
    margin-left: 24px;
}
.description {
    width: 70%;
    text-indent: 50px;
    line-height: 1.5;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 12px;
}

.book {
    width: calc(50% - 10px);  /* Ensures two books per row with gap */
    max-width: 256px;  /* Maintains original max width */
    height: auto;  /* Allows height to adjust proportionally */
    aspect-ratio: 256 / 400;  /* Maintains original book cover aspect ratio */
    object-fit: cover;  /* Ensures image covers the entire area while maintaining aspect ratio */
}


.quotescontainer, .articlescontainer {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    gap: 20px
}

.readingcontainer {
    display: flex;
    justify-content: space-around;
    gap: 6px;

}

.bookscontainer {
    display: flex;
    flex-wrap: wrap;
    width: 33.3%;
    gap: 20px;
    justify-content: center;
}

.quote {
    font-size: 24px;
}

.fashioncontainer {
    display: flex;
}

.closet, .wishlist {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.closet{
    border-right: double;
}

.piece-image {
    width: 75%;
    height: auto;
}

.piece-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piece {
    width: 100%;
    height: auto;
}



