body {
    font-family: 'Times New Roman', Times, serif;
}
.container, .pages, .name, .videocontainer{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video{
    display: flex;
    width: 100%;
    align-items: center;
}

.infobox{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.videocontainer{
    gap: 24px;
}

.video iframe{
    margin-left: 24px;
}
.description {
    width: 70%;
    text-indent: 50px;
    line-height: 1.5;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 12px;
}

.book {
    width: calc(50% - 10px);  /* Ensures two books per row with gap */
    max-width: 256px;  /* Maintains original max width */
    height: auto;  /* Allows height to adjust proportionally */
    aspect-ratio: 256 / 400;  /* Maintains original book cover aspect ratio */
    object-fit: cover;  /* Ensures image covers the entire area while maintaining aspect ratio */
}


.quotescontainer, .articlescontainer {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    gap: 20px
}

.readingcontainer {
    display: flex;
    justify-content: space-around;
    gap: 40px;

}

.bookscontainer {
    display: flex;
    flex-wrap: wrap;
    width: 33.3%;
    gap: 20px;
    justify-content: center;
}

.quote {
    font-size: 24px;
}

.fashioncontainer {
    display: flex;
}

.closet, .wishlist {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.closet{
    border-right: double;
}

.piece-image {
    width: 75%;
    height: auto;
}

.piece-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piece {
    width: 100%;
    height: auto;
}

/* RELAX PAGE */

.relax-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.video-toggle {
    margin-left: 6.66px;
}



.dark-background {
    background-color: #121212;
    color: white;
}


.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.linkscontainer {
    width: 100px;
    height: 80vh;
    background-color: #fcf4ed;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.linkscontainer .link-title {
    margin-bottom: 20px;
    text-align: center;
}

.linkscontainer a {
    display: block;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
}

.relaxcontainer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;

}

.video-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.video-container iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.journal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
}

