.container, .pages, .name, .videocontainer{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.video{
    display: flex;
    width: 100%;
    align-items: center;
}

.infobox{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.videocontainer{
    gap: 24px;
}

iframe{
    margin-left: 24px;
}
.description {
    width: 70%;
    text-indent: 50px;
    line-height: 1.5;
}